<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="service" class="main.java.Service.Impl.ServiceImpl">
        <property name="languageDao" ref="languageDao"></property>
    </bean>

    <bean id="languageDao" class="main.java.TestDao.Impl.ChinaDaoImpl"></bean>

    <!--<context:component-scan base-package="java" />-->
</beans>